# Environment variables example file

# OpenAI API
OPENAI_API_KEY=
OPENAI_CHAT_MODEL=

# Supabase API
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# Notion API
NOTION_API_KEY=
NOTION_DATABASE_ID=
NOTION_TENANT_ID=
NOTION_OWNER_ID=
